<body>

<fieldset>
    <legend>About</legend>
I Was Framed, a hobbyist picture framing and matting organization, was founded in 2017.  We are not a company, but merely a community of framing amateurs.
</p>
<p>
We offer a myriad of services on our website from a community forum, event scheduling, classes, chat, to framing & matting calculator applications on common platforms.
</p>
</fieldset>
</body>
</html>