<body>

<h3>About I Was Framed:</h3><p>
I Was Framed, a hobbyist picture framing and matting organization, was founded in 2017.  Reorganization for its iconic Museum® dial and modern aesthetic, Movado has earned more than 100 patents and 200 international awards for watch design and time technology, and Movado timepieces are in the permanent collections of museums worldwide.   This long, rich heritage of artistry and innovation in design, and a close, enduring association with the arts continue to define the Movado brand identity.  Always in motion, Movado creates modern watches of exceptional craftsmanship and design distinction.
</p>
<h3>About Our Community:</h3>
<p>
We offer a myriad of services from 
</p>

</body>
</html>