<body>
<div class="form-containter">
  <form class="contact-form">
<fieldset>
<legend>Contact</legend>
<input type="text" id="name" placeholder="Full name"></br>
<input type="email" id="email" placeholder="Email"></br>
<input type="text" id="subject" placeholder="Subject"></br>
<textarea id="message" placeholder="Message" cols="30" rows="10"></textarea></br>
<input type="submit" class="submit" value="Send Message">
<input type="reset" value="Reset">
</fieldset>
  </form>
</div>
  <script src="/js/email.js"></script>
  </body>
  </html>