<body>
  <h1>Contact Us</h1><p>
  I Was Framed, a hobbyist picture framing and matting organization, was founded in 2017.  .
  </p>
  <h3>About Our Community:</h3>
  <p>
  We offer a myriad of services from 
  </p>
  
  </body>
  </html>