<body>
<h1>Getting started</h1>
Unzip the downloaded file.
<h2>Dependencies:</h2><p>
Enter this command. It will install all the dependencies at once:<pre><code class="language-plain">npm install
</pre></code>
Or you can install them individually:<pre><code class="language-plain">npm install express express-session mysql pug-cli bcrypt util.promisify
</pre></code>
Sometimes you may get errors and access denied. If so, add `sudo` to the command instead:<p>
<pre><code class="language-plain">sudo npm install express express-session mysql pug-cli bcrypt util.promisify
</pre></code>
  </body>
</html>