<body>
  <h1 style="color: #4485b8;">Welcome to <span style="background-color: #4485b8; color: #ffffff; padding: 0 5px;">I Was FRAMED!</aspan></h1>
<p><strong style="color: #000;">Introduction:</strong> This application should be used in conjunction with a Logan® Mat Cutter. The calculator streamlines the mathematics by calculating precisely where to place the parallel mat guide for cutting the mat's border widths and heights to the appropriate size.&nbsp;</p>
<p>
I Was Framed Picture Framing and Matting Border Calculator assists amateurs and hobbyists to make the necessary calculations for any project. All user inputs must be made using inches (")
</p>
</p>
<h4>Here's how it works step-by-step:</h4>
<table class="editorDemoTable" style="vertical-align: top;">
<thead>
<tr>
<td><span style="font-weight: bold; color: #000; text-decoration: underline;">Steps</span></td>
<td><span style="font-weight: bold; color: #000; text-decoration: underline;">Single Mat</span></td>
</tr>
</thead>
<tbody>
  <tr>
  <td style="min-width: 140px;"><strong>Step 1</strong></td>
  <td>Enter the <span style="font-weight: bold; color: #000; text-decoration: underline;">Frame Width</span>.</td>
    </tr>
  <tr>
  <td><strong>Step 2</strong></td>
  <td style="background-color: rgba(0,0,0,0.1);">
  Enter the <span style="font-weight: bold; color: #000; text-decoration: underline;">Frame Height</span>.
  </td>
    </tr>
<p>
  <tr>
    <td style="min-width: 140px;"><strong>Step 3</strong></td>
    <td>Enter the <span style="font-weight: bold; color: #000; text-decoration: underline;">Picture Width</span>.</td>
      </tr>
    <tr>
    <td><strong>Step 4</strong></td>
    <td style="background-color: rgba(0,0,0,0.1);">
    <p>Enter the <span style="font-weight: bold; color: #000; text-decoration: underline;">Picture Height</span>.</p>
    </td>
      </tr>
  <p>

<ol>
<li>Select how much you want the mat to overlap the photo or artwork.</li>
<li>Choose if your project will be a single mat, double mat, or triple mat</li>
<li>If single mat, get your results.</li>
<li>If double mat, you will be prompted to enter the size of the bottom mat, then get your results.</li>
<li>If triple mat, you will be prompted to enter the size of the middle mat and the bottom mat, then get your results.</li>
<li>The calculated figures are where you place the parallel mat guide to draw your lines and cut. This is represented in order depending on the amount of mats your project consists of; you simpley follow the top mat measurements, the middle mat measurements, and the bottom mat measurements.</li>
</ol>
</td>
</tr>
</tbody>
</table>
  </body>
</html>