<body>
<fieldset>
<legend>Documentation</legend>
<h1>Getting started</h1>
Unzip the downloaded file.
<h2>Dependencies:</h2><p>
Enter this command. It will install all the dependencies at once:<pre><code class="language-plain">npm install
</pre></code>
Or you can install them individually:<pre><code class="language-plain">npm install body-parser ejs express express-ejs-layouts express-jwt express-session express-validator fractional nodemailer
</pre></code>
Sometimes you may get errors and access denied. If so, add `sudo` to the command instead:<p>
<pre><code class="language-plain">sudo npm install body-parser ejs express express-ejs-layouts express-jwt express-session express-validator fractional nodemailer
</pre></code>
</fieldset>
  </body>
</html>