<body>
    <h1 style="color: #4485b8;">Welcome to <span style="background-color: #4485b8; color: #ffffff; padding: 0 5px;">I Was FRAMED!</aspan></h1>
<p><strong style="color: #000;">Introduction:</strong> Congratulations!  If you are seeing this, then you have successfully installed this application.&nbsp;</p>
<h4>Use the table below to understand the features:</h4>
<table class="editorDemoTable" style="vertical-align: top;">
<thead>
<tr>
<td><span style="font-weight: bold; color: #000; text-decoration: underline;">Options</span></td>
<td><span style="font-weight: bold; color: #000; text-decoration: underline;">Description</span></td>
<td><span style="font-weight: bold; color: #000; text-decoration: underline;">Explanation</span></td>
</tr>
</thead>
<tbody>
<tr>
<td style="min-width: 140px;"><strong>Single Mat</strong></td>
<td>Using the <span style="font-weight: bold; color: #000; text-decoration: underline;">Single Mat</span> option calculates the measurements of where to make your mat cut when using one matboard.</td>
<td>You will need to know the following:
<div style="height: 100%; width: 100%; border: 3px dotted #888; background-color: rgba(0,0,0,0.2);"><i>F</i>rame <i>W</i>idth, <i>F</i>rame <i>H</i>eight, <i>P</i>icture <i>W</i>idth, <i>P</i>icture <i>H</i>eight, and <i>M</i>at <i>O</i>verlap.</div>
</td>
</tr>
<tr>
<td><strong>Double Mat</strong></td>
<td style="background-color: rgba(0,0,0,0.1);">
<p>Using the <span style="font-weight: bold; color: #000; text-decoration: underline;">Double Mat</span> option calculates the measurements of where to make your mat cut when using two matboards.</p>
</td>
<td><span style="line-height: 35px;">&larr;| &nbsp;You need to know the following:  <i>F</i>rame <i>W</i>idth, <i>F</i>rame <i>H</i>eight, <i>P</i>icture <i>W</i>idth, <i>P</i>icture <i>H</i>eight, and <i><u>Bottom</u></i> <i>M</i>at <i>O</i>verlap.&nbsp; &rarr;|</span></td>
</tr>
<tr>
<td><strong>Triple Mat </strong></td>
<td>Using the <span style="font-weight: bold; color: #000; text-decoration: underline;">Triple Mat</span> option calculates the measurements of where to make your mat cut when using three matboards.</td>
<td>You need to know the following:  <i>F</i>rame <i>W</i>idth, <i>F</i>rame <i>H</i>eight, <i>P</i>icture <i>W</i>idth, <i>P</i>icture <i>H</i>eight, <i><u>Middle Mat</u></i> and <i>B</i>ottom <i>M</i>at <i>O</i>verlap.</td>
</tr>
<tr>
<td><strong>Symbols</strong></td>
<td>
<table style="margin: auto; box-shadow: 3px 3px 10px #000;" border="1">
<tbody>
<tr style="border-top: 2px solid #555;">
<td style="border: 2px dashed #555;"><math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>Width</mi>
</math>
</td>
<td style="border: 2px dashed #555;"><math xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>Height</mi>
  </math></td>
<td style="border: 2px dashed #555;" ><math xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>Overlap</mi>
  </math></td>
</tr>
<tr style="background-color: rgba(0,0,0,0.1);">
<td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>w</mi>
</math>
</center></td>
<td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>h</mi>
</math>
</center></td>
<td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>o</mi>
</math>
</center></td>
</tr>
</tbody>
</table>
<p>
    <table style="margin: auto; box-shadow: 3px 3px 10px #000;" border="1">
        <tbody>
        <tr style="border-top: 2px solid #555;">
        <td style="border: 2px dashed #555;"><math xmlns="http://www.w3.org/1998/Math/MathML">
          <mi>Frame</mi>
        </math>
        </td>
        <td style="border: 2px dashed #555;"><math xmlns="http://www.w3.org/1998/Math/MathML">
            <mi>Frame</mi>
          </math></td>
        <td style="border: 2px dashed #555;" ><math xmlns="http://www.w3.org/1998/Math/MathML">
            <mi>Bottom</mi>
          </math></td>
        </tr>
        <tr style="background-color: rgba(0,0,0,0.1);">
        <td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
                <mi>w</mi>
                <mi>f</mi>
              </msub>
        </math>
        </center></td>
        <td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
                <mi>h</mi>
                <mi>f</mi>
              </msub>
        </math>
        </center></td>
        <td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
                <mi>m</mi>
                <mi>b</mi>
              </msub>
        </math>
        </center></td>
        </tr>
        </tbody>
        </table>
</p>
<table style="margin: auto; box-shadow: 3px 3px 10px #000;" border="1">
    <tbody>
    <tr style="border-top: 2px solid #555;">
    <td style="border: 2px dashed #555;"><math xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>Picture</mi>
    </math>
    </td>
    <td style="border: 2px dashed #555;"><math xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>Picture</mi>
      </math></td>
    <td style="border: 2px dashed #555;" ><math xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>Middle</mi>
      </math></td>
    </tr>
    <tr style="background-color: rgba(0,0,0,0.1);">
    <td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
            <mi>w</mi>
            <mi>p</mi>
          </msub>
    </math>
    </center></td>
    <td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
            <mi>h</mi>
            <mi>p</mi>
          </msub>
    </math>
    </center></td>
    <td><center><math xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
            <mi>m</mi>
            <mi>m</mi>
          </msub>
    </math>
    </center></td>
    </tr>
    </tbody>
    </table>
</td>
<td>
<ol>
<li>These are all the requuired elements for calculating either a Single Mat, Double Mat, or Triple Mat project.</li>
<li>During a Double Mat calculation, then Mat Overlap becomes Bottom Mat (Overlap).</li>
<li>Finally, a Triple Mat calculation requires the addition of a Middle Mat including the elements of a Double Mat.</li>
</ol>
</td>
</tr>
</tbody>
</table>
<hr />
<p>The best way to get started is by reading the <span style="background-color: #4485b8; color: #fff; display: inline-block; padding: 2px 8px; font-weight: bold; border-radius: 5px;">Documentation</span> button above.</p>
<p><em>You can always access <strong>menu items</strong> directly.</em></p>
<hr />
</body>