<body>
    <fieldset>
        <legend>Single Mat Equations</legend>
        <p>
            <p>These are the equations for "Single Mat" option.  Which is the only choice thus far.  Please check this page from time-to-time for future updates of equations.</p>

<ul>
    <li><math xmlns="http://www.w3.org/1998/Math/MathML">
          <mi>w</mi>
        <mo>=</mo>
        <mi>Width</mi>
      </math></li>
    <li><math xmlns="http://www.w3.org/1998/Math/MathML">
          <mi>h</mi>
        <mo>=</mo>
        <mi>Height</mi>
      </math></li>
    <li><math xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mi>w</mi>
          <mi>f</mi>
        </msub>
        <mo>=</mo>
        <mi>Frame Width</mi>
      </math></li>
    <li><math xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mi>h</mi>
          <mi>f</mi>
        </msub>
        <mo>=</mo>
        <mi>Frame Height</mi>
      </math></li>
    <li><math xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mi>w</mi>
          <mi>p</mi>
        </msub>
        <mo>=</mo>
        <mi>Picture Width</mi>
      </math></li>
    <li><math xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mi>h</mi>
          <mi>p</mi>
        </msub>
        <mo>=</mo>
        <mi>Picture Height</mi>
      </math></li>
      <li><math xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>o</mi>
        <mo>=</mo>
        <mi>Mat Overlap</mi>
      </math></li>
</ul>
            </p>
        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
            <mi>w</mi>
            <mo>=</mo>
            <mfrac>
              <mn>1</mn>
              <mn>2</mn>
            </mfrac>
            <mo stretchy="false">(</mo>
            <msub>
              <mi>h</mi>
              <mi>f</mi>
            </msub>
            <mo>&#x2212;<!-- − --></mo>
            <msub>
              <mi>h</mi>
              <mi>p</mi>
            </msub>
            <mo>+</mo>
            <mi>o</mi>
            <mo stretchy="false">)</mo>
            </math>
    </p>
    <p>
        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
            <mi>h</mi>
            <mo>=</mo>
            <mfrac>
              <mn>1</mn>
              <mn>2</mn>
            </mfrac>
            <mo stretchy="false">(</mo>
            <msub>
              <mi>w</mi>
              <mi>f</mi>
            </msub>
            <mo>&#x2212;<!-- − --></mo>
            <msub>
              <mi>w</mi>
              <mi>p</mi>
            </msub>
            <mo>+</mo>
            <mi>o</mi>
            <mo stretchy="false">)</mo>
        </math>
    </p>
        </fieldset>
        <p>
          <fieldset>
            <legend>Double Mat Equations</legend>
            <p>
                <p>These are the equations for the "Top Mat" cut.</p>
    
    <ul>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
          <msub>
            <mi>w</mi>
            <mi>t</mi>
          </msub>
            <mo>=</mo>
            <mi>Top Mat Width</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
          <msub>
            <mi>h</mi>
            <mi>t</mi>
          </msub> 
            <mo>=</mo>
            <mi>Top Mat Height</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>w</mi>
              <mi>f</mi>
            </msub>
            <mo>=</mo>
            <mi>Frame Width</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>h</mi>
              <mi>f</mi>
            </msub>
            <mo>=</mo>
            <mi>Frame Height</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>w</mi>
              <mi>p</mi>
            </msub>
            <mo>=</mo>
            <mi>Picture Width</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>h</mi>
              <mi>p</mi>
            </msub>
            <mo>=</mo>
            <mi>Picture Height</mi>
          </math></li>
      </ul>
                </p>
            <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
              <msub>
                <mi>w</mi>
                <mi>t</mi>
              </msub>
                <mo>=</mo>
                <mfrac>
                  <mn>
                  <mo stretchy="false">(</mo>
                <msub>
                  <mi>h</mi>
                  <mi>f</mi>
                </msub>
                <mo>&#x2212;<!-- − --></mo>
                <msub>
                  <mi>h</mi>
                  <mi>p</mi>
                </msub>
                <mo stretchy="false">)</mo>
                </mn>
                <mn>2</mn>
                </mfrac>
                </math>
        </p>
        <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
              <msub>
                <mi>h</mi>
                <mi>t</mi>
              </msub>
                <mo>=</mo>
                <mfrac>
                  <mn>
                <mo stretchy="false">(</mo>
                <msub>
                  <mi>w</mi>
                  <mi>f</mi>
                </msub>
                <mo>&#x2212;<!-- − --></mo>
                <msub>
                  <mi>w</mi>
                  <mi>p</mi>
                </msub>
                <mo stretchy="false">)</mo>
              </mn>
              <mn>2</mn>
              </mfrac>
            </math>
        </p>
        <p>
          <p>These are the equations for the "Bottom Mat" cut.</p>
          <ul>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
              <msub>
                <mi>w</mi>
                <mi>b</mi>
              </msub>
                <mo>=</mo>
                <mi>Bottom Mat Width</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
              <msub>
                <mi>h</mi>
                <mi>b</mi>
              </msub> 
                <mo>=</mo>
                <mi>Bottom Mat Height</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>w</mi>
                  <mi>f</mi>
                </msub>
                <mo>=</mo>
                <mi>Frame Width</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>h</mi>
                  <mi>f</mi>
                </msub>
                <mo>=</mo>
                <mi>Frame Height</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>w</mi>
                  <mi>p</mi>
                </msub>
                <mo>=</mo>
                <mi>Picture Width</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>h</mi>
                  <mi>p</mi>
                </msub>
                <mo>=</mo>
                <mi>Picture Height</mi>
              </math></li>
              <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>m</mi>
                  <mi>b</mi>
                </msub>
                <mo>=</mo>
                <mi>Bottom Mat</mi>
              </math></li>
          </ul>
                    </p>
                <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                  <msub>
                    <mi>w</mi>
                    <mi>b</mi>
                  </msub>
                    <mo>=</mo>
                    <mfrac>
                      <mn>
                      <mo stretchy="false">(</mo>
                    <msub>
                      <mi>h</mi>
                      <mi>f</mi>
                    </msub>
                    <mo>&#x2212;<!-- − --></mo>
                    <msub>
                      <mi>h</mi>
                      <mi>p</mi>
                    </msub>
                    <mo stretchy="false">)</mo>
                    </mn>
                    <mn>2</mn>
                    </mfrac>
                    <mo>&#x2B;<!-- − --></mo>
                    <msub>
                      <mi>m</mi>
                      <mi>b</mi>
                    </msub>
                    </math>
            </p>
            <p>
                <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                  <msub>
                    <mi>h</mi>
                    <mi>b</mi>
                  </msub>
                    <mo>=</mo>
                    <mfrac>
                      <mn>
                    <mo stretchy="false">(</mo>
                    <msub>
                      <mi>w</mi>
                      <mi>f</mi>
                    </msub>
                    <mo>&#x2212;<!-- − --></mo>
                    <msub>
                      <mi>w</mi>
                      <mi>p</mi>
                    </msub>
                    <mo stretchy="false">)</mo>
                  </mn>
                  <mn>2</mn>
                  </mfrac>
                  <mo>&#x2B;<!-- − --></mo>
                    <msub>
                      <mi>m</mi>
                      <mi>b</mi>
                    </msub>
                </math>
            </p>
        </p>
            </fieldset>
        </p>
        <p>
          <fieldset>
            <legend>Triple Mat Equations</legend>
            <p>
                <p>These are the equations for the "Top Mat" cut.</p>
    
    <ul>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
          <msub>
            <mi>w</mi>
            <mi>t</mi>
          </msub>
            <mo>=</mo>
            <mi>Width</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
          <msub>
            <mi>h</mi>
            <mi>t</mi>
          </msub>
            <mo>=</mo>
            <mi>Height</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>w</mi>
              <mi>f</mi>
            </msub>
            <mo>=</mo>
            <mi>Frame Width</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>h</mi>
              <mi>f</mi>
            </msub>
            <mo>=</mo>
            <mi>Frame Height</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>w</mi>
              <mi>p</mi>
            </msub>
            <mo>=</mo>
            <mi>Picture Width</mi>
          </math></li>
        <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>h</mi>
              <mi>p</mi>
            </msub>
            <mo>=</mo>
            <mi>Picture Height</mi>
          </math></li>
          <li><math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>m</mi>
              <mi>m</mi>
            </msub>
            <mo>=</mo>
            <mi>Middle Mat</mi>
            </math></li>
    </ul>
                </p>
                <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                  <msub>
                    <mi>w</mi>
                    <mi>t</mi>
                  </msub>
                    <mo>=</mo>
                    <mfrac>
                      <mn>
                      <mo stretchy="false">(</mo>
                    <msub>
                      <mi>h</mi>
                      <mi>f</mi>
                    </msub>
                    <mo>&#x2212;<!-- − --></mo>
                    <msub>
                      <mi>h</mi>
                      <mi>p</mi>
                    </msub>
                    <mo stretchy="false">)</mo>
                    </mn>
                    <mn>2</mn>
                    </mfrac>
                    <mo>&#x2212;<!-- − --></mo>
                    <msub>
                      <mi>m</mi>
                      <mi>m</mi>
                    </msub>
                    </math>
        </p>
        <p>
            <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
              <msub>
                <mi>h</mi>
                <mi>t</mi>
              </msub>
                <mo>=</mo>
                <mfrac>
                  <mn>
                <mo stretchy="false">(</mo>
                <msub>
                  <mi>w</mi>
                  <mi>f</mi>
                </msub>
                <mo>&#x2212;<!-- − --></mo>
                <msub>
                  <mi>w</mi>
                  <mi>p</mi>
                </msub>
                <mo stretchy="false">)</mo>
              </mn>
              <mn>2</mn>
              </mfrac>
              <mo>&#x2212;<!-- − --></mo>
                <msub>
                  <mi>m</mi>
                  <mi>m</mi>
                </msub>
            </math>
        </p>
        <p>
          <p>These are the equations for the "Middle Mat" cut.</p>
          <ul>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
              <msub>
                <mi>w</mi>
                <mi>m</mi>
              </msub>
                <mo>=</mo>
                <mi>Middle Mat Width</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
              <msub>
                <mi>h</mi>
                <mi>m</mi>
              </msub> 
                <mo>=</mo>
                <mi>Middle Mat Height</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>w</mi>
                  <mi>f</mi>
                </msub>
                <mo>=</mo>
                <mi>Frame Width</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>h</mi>
                  <mi>f</mi>
                </msub>
                <mo>=</mo>
                <mi>Frame Height</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>w</mi>
                  <mi>p</mi>
                </msub>
                <mo>=</mo>
                <mi>Picture Width</mi>
              </math></li>
            <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                <msub>
                  <mi>h</mi>
                  <mi>p</mi>
                </msub>
                <mo>=</mo>
                <mi>Picture Height</mi>
              </math></li>
              </ul>
                    </p>
                <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                  <msub>
                    <mi>w</mi>
                    <mi>m</mi>
                  </msub>
                    <mo>=</mo>
                    <mfrac>
                      <mn>
                      <mo stretchy="false">(</mo>
                    <msub>
                      <mi>h</mi>
                      <mi>f</mi>
                    </msub>
                    <mo>&#x2212;<!-- − --></mo>
                    <msub>
                      <mi>h</mi>
                      <mi>p</mi>
                    </msub>
                    <mo stretchy="false">)</mo>
                    </mn>
                    <mn>2</mn>
                    </mfrac>
                   </math>
            </p>
            <p>
                <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                  <msub>
                    <mi>h</mi>
                    <mi>m</mi>
                  </msub>
                    <mo>=</mo>
                    <mfrac>
                      <mn>
                    <mo stretchy="false">(</mo>
                    <msub>
                      <mi>w</mi>
                      <mi>f</mi>
                    </msub>
                    <mo>&#x2212;<!-- − --></mo>
                    <msub>
                      <mi>w</mi>
                      <mi>p</mi>
                    </msub>
                    <mo stretchy="false">)</mo>
                  </mn>
                  <mn>2</mn>
                  </mfrac>
                </math>
            </p>
            <p>
              <p>These are the equations for the "Bottom Mat" cut.</p>
              <ul>
                <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                  <msub>
                    <mi>w</mi>
                    <mi>b</mi>
                  </msub>
                    <mo>=</mo>
                    <mi>Bottom Mat Width</mi>
                  </math></li>
                <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                  <msub>
                    <mi>h</mi>
                    <mi>b</mi>
                  </msub> 
                    <mo>=</mo>
                    <mi>Bottom Mat Height</mi>
                  </math></li>
                <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msub>
                      <mi>w</mi>
                      <mi>f</mi>
                    </msub>
                    <mo>=</mo>
                    <mi>Frame Width</mi>
                  </math></li>
                <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msub>
                      <mi>h</mi>
                      <mi>f</mi>
                    </msub>
                    <mo>=</mo>
                    <mi>Frame Height</mi>
                  </math></li>
                <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msub>
                      <mi>w</mi>
                      <mi>p</mi>
                    </msub>
                    <mo>=</mo>
                    <mi>Picture Width</mi>
                  </math></li>
                <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msub>
                      <mi>h</mi>
                      <mi>p</mi>
                    </msub>
                    <mo>=</mo>
                    <mi>Picture Height</mi>
                  </math></li>
                  <li><math xmlns="http://www.w3.org/1998/Math/MathML">
                    <msub>
                      <mi>m</mi>
                      <mi>b</mi>
                    </msub>
                    <mo>=</mo>
                    <mi>Bottom Mat</mi>
                  </math></li>
              </ul>
                        </p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                      <msub>
                        <mi>w</mi>
                        <mi>b</mi>
                      </msub>
                        <mo>=</mo>
                        <mfrac>
                          <mn>
                          <mo stretchy="false">(</mo>
                        <msub>
                          <mi>h</mi>
                          <mi>f</mi>
                        </msub>
                        <mo>&#x2212;<!-- − --></mo>
                        <msub>
                          <mi>h</mi>
                          <mi>p</mi>
                        </msub>
                        <mo stretchy="false">)</mo>
                        </mn>
                        <mn>2</mn>
                        </mfrac>
                        <mo>&#x2B;<!-- − --></mo>
                        <msub>
                          <mi>m</mi>
                          <mi>b</mi>
                        </msub>
                        </math>
                </p>
                <p>
                    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                      <msub>
                        <mi>h</mi>
                        <mi>b</mi>
                      </msub>
                        <mo>=</mo>
                        <mfrac>
                          <mn>
                        <mo stretchy="false">(</mo>
                        <msub>
                          <mi>w</mi>
                          <mi>f</mi>
                        </msub>
                        <mo>&#x2212;<!-- − --></mo>
                        <msub>
                          <mi>w</mi>
                          <mi>p</mi>
                        </msub>
                        <mo stretchy="false">)</mo>
                      </mn>
                      <mn>2</mn>
                      </mfrac>
                      <mo>&#x2B;<!-- − --></mo>
                        <msub>
                          <mi>m</mi>
                          <mi>b</mi>
                        </msub>
                    </math>
                </p>
            </p>
            </fieldset>
        </p>
    </body>
    </html>