<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>I Was Framed - Calculator</title>



        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900&display=swap" rel="stylesheet">

        

    </head>

<body>
    
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>  
        
<section>
    
    <form id="frm1" action="index.html" onreset="resetOutput()" method="post">

<fieldset>

<legend>

I Was Framed Calculator

</legend>



<label for="frameWidth">Frame Width:</label><input type="number" title="numbers should be in inches" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" step="any" min="0" name="frameWidth" id="frameWidth"><select name="frameWidthFraction" id="frameWidthFraction">
    <option value="0">0</option>
        <option value="0.0625">1/16</option>
            <option value="0.0125">1/8</option>
                <option value="0.1875">3/16</option>
                <option value="0.25">1/4</option>
                <option value="0.3125">5/16</option>
                <option value="0.375">3/8</option>
                <option value="0.4375">7/16</option>
                <option value="0.50">1/2</option>
                <option value="0.5625">9/16</option>
                <option value="0.625">5/8</option>
                <option value="0.6875">11/16</option>
                <option value="0.75">3/4</option>
                <option value="0.8125">3/16</option>
                <option value="0.875">7/8</option> 
                <option value="0.9375">15/16</option>
</select>

<label for="frameHeight">Frame Height:</label><input type="number" title="numbers should be in inches" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" step="any" min="0" name="frameHeight" id="frameHeight"><select name="frameHeightFraction" id="frameHeightFraction">
    
    <option value="0">0</option>
        <option value="0.0625">1/16</option>
            <option value="0.0125">1/8</option>
                <option value="0.1875">3/16</option>
                <option value="0.25">1/4</option>
                <option value="0.3125">5/16</option>
                <option value="0.375">3/8</option>
                <option value="0.4375">7/16</option>
                <option value="0.50">1/2</option>
                <option value="0.5625">9/16</option>
                <option value="0.625">5/8</option>
                <option value="0.6875">11/16</option>
                <option value="0.75">3/4</option>
                <option value="0.8125">3/16</option>
                <option value="0.875">7/8</option>
                <option value="0.9375">15/16</option>
</select>



<label for="pictureWidth">Picture Width:</label><input type="number" title="numbers should be in inches" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" step="any" min="0" name="pictureWidth" id="pictureWidth"><select name="pictureWidthFraction" id="pictureWidthFraction">
    
    <option value="0">0</option>
        <option value="0.0625">1/16</option>
            <option value="0.0125">1/8</option>
                <option value="0.1875">3/16</option>
                <option value="0.25">1/4</option>
                <option value="0.3125">5/16</option>
                <option value="0.375">3/8</option>
                <option value="0.4375">7/16</option>
                <option value="0.50">1/2</option>
                <option value="0.5625">9/16</option>
                <option value="0.625">5/8</option>
                <option value="0.6875">11/16</option>
                <option value="0.75">3/4</option>
                <option value="0.8125">3/16</option>
                <option value="0.875">7/8</option>
                <option value="0.9375">15/16</option>
</select>

<label for="pictureHeight">Picture Height:</label><input type="number" title="numbers should be in inches" onkeypress="return (event.which == 8 || event.which == 0 || event.which == 13) ? null : event.charCode >= 48 && event.charCode <= 57" step="any" min="0" name="pictureHeight" id="pictureHeight">


<select name="pictureHeightFraction" id="pictureHeightFraction">
   
    <option value="0">0</option>
        <option value="0.0625">1/16</option>
            <option value="0.0125">1/8</option>
                <option value="0.1875">3/16</option>
                <option value="0.25">1/4</option>
                <option value="0.3125">5/16</option>
                <option value="0.375">3/8</option>
                <option value="0.4375">7/16</option>
                <option value="0.50">1/2</option>
                <option value="0.5625">9/16</option>
                <option value="0.625">5/8</option>
                <option value="0.6875">11/16</option>
                <option value="0.75">3/4</option>
                <option value="0.8125">3/16</option>
                <option value="0.875">7/8</option>
                <option value="0.9375">15/16</option>
</select><br>

<label for="middleMat">Middle Mat:</label><input type="number" title="numbers should be in inches" onkeypress="(event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" step="any" min="0" name="middleMat" id="middleMat"><select name="middleMatFraction" id="middleMatFraction">
    
    <option value="0">0</option>
        <option value="0.0625">1/16</option>
            <option value="0.0125">1/8</option>
                <option value="0.1875">3/16</option>
                <option value="0.25">1/4</option>
                <option value="0.3125">5/16</option>
                <option value="0.375">3/8</option>
                <option value="0.4375">7/16</option>
                <option value="0.50">1/2</option>
                <option value="0.5625">9/16</option>
                <option value="0.625">5/8</option>
                <option value="0.6875">11/16</option>
                <option value="0.75">3/4</option>
                <option value="0.8125">3/16</option>
                <option value="0.875">7/8</option>
                <option value="0.9375">15/16</option>
</select>

    <br>
    <label for="bottomMat">Bottom Mat:</label><input type="number" title="numbers should be in inches" onkeypress="(event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" step="any" min="0" name="bottomMat" id="bottomMat"><select name="bottomMatFraction" id="bottomMatFraction">
    
        <option value="0">0</option>
            <option value="0.0625">1/16</option>
                <option value="0.0125">1/8</option>
                    <option value="0.1875">3/16</option>
                    <option value="0.25">1/4</option>
                    <option value="0.3125">5/16</option>
                    <option value="0.375">3/8</option>
                    <option value="0.4375">7/16</option>
                    <option value="0.50">1/2</option>
                    <option value="0.5625">9/16</option>
                    <option value="0.625">5/8</option>
                    <option value="0.6875">11/16</option>
                    <option value="0.75">3/4</option>
                    <option value="0.8125">3/16</option>
                    <option value="0.875">7/8</option>
                    <option value="0.9375">15/16</option>
    </select>
    
        <br>

<br>
<br>
<input type="button" onclick="calc()" value="Calculate" name="cmdCalc"/>
<input type="reset" value="Reset">

</fieldset>

</form>

</section>

<script src="https://iwasframed.com/calculator/fraction.js/index.js"></script>


<script>

function calc()

{

    var frameWidth = document.getElementById('frameWidth').value
    frameWidth = parseInt(frameWidth)
    
    var frameWidthFraction = document.getElementById('frameWidthFraction').value
    frameWidthFraction = parseFloat(frameWidthFraction)
        
    var frameHeight = document.getElementById('frameHeight').value
    frameHeight = parseInt(frameHeight)

    var frameHeightFraction = document.getElementById('frameHeightFraction').value
    frameHeightFraction = parseFloat(frameHeightFraction)
    
    var pictureWidth = document.getElementById('pictureWidth').value
    pictureWidth = parseInt(pictureWidth)

    var pictureWidthFraction = document.getElementById('pictureWidthFraction').value
    pictureWidthFraction = parseFloat(pictureWidthFraction)

    var pictureHeight = document.getElementById('pictureHeight').value
    pictureHeight = parseInt(pictureHeight)

    var pictureHeightFraction = document.getElementById('pictureHeightFraction').value
    pictureHeightFraction = parseFloat(pictureHeightFraction)

    var middleMat = document.getElementById('middleMat').value
    middleMat = parseInt(middleMat)

    var middleMatFraction = document.getElementById('middleMatFraction').value
    middleMatFraction = parseFloat(middleMatFraction)

    var bottomMat = document.getElementById('bottomMat').value
    bottomMat = parseInt(bottomMat)

    var bottomMatFraction = document.getElementById('bottomMatFraction').value
    bottomMatFraction = parseFloat(bottomMatFraction)

    if (isNaN(frameWidth) || isNaN(frameHeight) || isNaN(pictureWidth) || isNaN(pictureHeight) || isNaN(middleMat) || isNaN(bottomMat)) {
    alert('All fields are required!')
    return
}

    var widthtripletop = ((frameHeight+frameHeightFraction)-(pictureHeight+pictureHeightFraction))/2-(middleMat+middleMatFraction);
    var heighttripletop = ((frameWidth+frameWidthFraction)-(pictureWidth+pictureWidthFraction))/2-(middleMat+middleMatFraction);
    var widthtriplemiddle = ((frameHeight+frameHeightFraction)-(pictureHeight+pictureHeightFraction))/2;
    var heighttriplemiddle = ((frameWidth+frameWidthFraction)-(pictureWidth+pictureWidthFraction))/2;
    var widthtriplebottom = ((frameHeight+frameHeightFraction)-(pictureHeight+pictureHeightFraction))/2+(bottomMat+bottomMatFraction);
    var heighttriplebottom = ((frameWidth+frameWidthFraction)-(pictureWidth+pictureWidthFraction))/2+(bottomMat+bottomMatFraction);
   
    document.getElementById('widthtripletop').innerHTML = new Fraction(widthtripletop).toString() + '"';
    document.getElementById('heighttripletop').innerHTML = new Fraction(heighttripletop).toString() + '"';
    document.getElementById('widthtriplemiddle').innerHTML = new Fraction(widthtriplemiddle).toString() + '"';
    document.getElementById('heighttriplemiddle').innerHTML = new Fraction(heighttriplemiddle).toString() + '"';
    document.getElementById('widthtriplebottom').innerHTML = new Fraction(widthtriplebottom).toString() + '"';
    document.getElementById('heighttriplebottom').innerHTML = new Fraction(heighttriplebottom).toString() + '"';

    document.getElementById('rectangle').scrollIntoView({ behavior: 'smooth'})

    
    }

</script>

<div class="triple" id="rectangle">

    <div id="recttop">

        <center>
            <div id="widthtripletop"></div>
        </center>
        <div id="heighttripletop"></div>
        <center>TOP MAT</center>
    </div>
    <div id="rectmiddle">
        <center>
            <div id="widthtriplemiddle"></div>
        </center>
        <div id="heighttriplemiddle"></div>
    </div>
    <div id="rectbottom">
        <center>
            <div id="widthtriplebottom"></div>
        </center>
        <div id="heighttriplebottom"></div>
    </div>
  </div>

  <script>
    function resetOutput(){

        document.getElementById('widthtripletop').innerHTML = ""
        document.getElementById('heighttripletop').innerHTML = ""
        document.getElementById('widthtriplemiddle').innerHTML = ""
        document.getElementById('heighttriplemiddle').innerHTML = ""
        document.getElementById('widthtriplebottom').innerHTML = ""
        document.getElementById('heighttriplebottom').innerHTML = ""

        
    }
</script> 
    
</body>

</html>